@import "../../vars";

.share {
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-around;
    max-width: 600px;

    a:nth-child(1) .fab:hover {
      color: #3b5998;
    }

    a:nth-child(2) .fab:hover {
      color: #b8559d;
    }

    a:nth-child(3) .fab:hover {
      color: #28aae1;
    }

    a:nth-child(4) .fab:hover {
      color: #2d78b5;
    }

    .fab {
      color: $gray;
      font-size: 3em;
      transition: all 0.2s ease-out;
      padding: 10px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media #{$xs} {
  .share {
    .fab {
      font-size: 2rem !important;
    }
  }
}
