@import "../../vars";

#about {
  padding: 10rem 0;
  display: flex;
  align-items: center;
  // min-height: 100vh;
  box-sizing: border-box;

  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;

    .head {
      justify-self: end;
      text-align: right;

      .owner {
        width: 150px;
        border-radius: 100%;
      }

      h2 {
        font-size: 4em;
        font-weight: 500;
        margin: 0;
        color: $gold;
      }

      h3 {
        font-size: 2.5em;
        font-weight: 400;
        margin: 0;
        color: $gray;
      }

      h4 {
        font-size: 1.2em;
        font-weight: 400;
        margin: 0;
        color: $gray;
        font-style: italic;
      }
    }

    .body {
      max-width: 300px;

      h3 {
        font-size: 3em;
        font-weight: 400;
        margin: 0;
      }
    }
  }
}

@media #{$sm} {
  #about {
    .layout {
      grid-template-columns: 1fr;
      align-items: center;

      .head {
        text-align: center;
        justify-self: center;
      }

      .body {
        text-align: center;
        justify-self: center;
      }
    }
  }
}

@media #{$xs} {
  #about {
    .layout {
      grid-template-columns: 1fr;
      align-items: center;

      .head {
        text-align: center;
        justify-self: center;
      }

      .body {
        text-align: center;
        justify-self: center;
      }
    }
  }
}
