@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-mona-sans);
    --font-script: var(--font-dancing-script);
}

@utility bg-arc {
    --s: 16px; /* control the size*/
    --c1: oklch(0.975 0 0);
    --c2: oklch(0.985 0 0);

    --g: #0000 66%, var(--c1) 67% 98%, #0000;
    background:
        radial-gradient(30% 50% at 30% 100%, var(--g)),
        radial-gradient(30% 50% at 70% 0%, var(--g)) var(--s) 0,
        repeating-linear-gradient(90deg, var(--c1) 0 10%, var(--c2) 0 50%);
    background-size: calc(10 * var(--s)) calc(6 * var(--s));
}
