@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-mona-sans);
    --font-script: var(--font-dancing-script);
}

@layer base {
    @keyframes slide-out {
        0% {
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-2rem);
        }
    }

    @keyframes slide-in {
        0% {
            opacity: 0;
            transform: translateY(2rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    ::view-transition-old(page) {
        animation: slide-out 0.5s ease-out both;
    }

    ::view-transition-new(page) {
        animation: slide-in 0.5s ease-out both;
        animation-delay: 300ms;
    }
}

@utility bg-arc {
    --s: 16px; /* control the size*/
    --c1: oklch(0.975 0 0);
    --c2: oklch(0.985 0 0);

    --g: #0000 66%, var(--c1) 67% 98%, #0000;
    background:
        radial-gradient(30% 50% at 30% 100%, var(--g)),
        radial-gradient(30% 50% at 70% 0%, var(--g)) var(--s) 0,
        repeating-linear-gradient(90deg, var(--c1) 0 10%, var(--c2) 0 50%);
    background-size: calc(10 * var(--s)) calc(6 * var(--s));
}
