@import "../../vars";

#footer {
  background-color: $black;
  padding: 3rem 0;

  .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;

    .col {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .icon {
      width: 100px;
    }

    .rk {
      color: #aaa;
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: auto;
      margin-bottom: 1rem;
      padding: 1rem 0;

      &:hover {
        text-decoration: underline;
      }

      img {
        width: 30px;
        margin-right: 5px;
      }
    }

    h6 {
      font-size: 1.3em;
      color: white;
      margin: 0;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.2rem 1rem;
      color: #aaa;
      font-weight: 300;
      font-size: 1rem;

      .day {
        text-align: left;
      }

      .hours {
        text-align: right;
        font-weight: 500;
      }
    }

    ul.shareList {
      li a {
        display: flex;
        align-items: center;

        &:hover {
          text-decoration: none;

          .label {
            text-decoration: underline;
          }
        }

        .fab {
          height: 16px;
          width: 30px;
        }
      }
    }

    ul {
      margin: 0 0 1rem 0;
      padding: 0;
      list-style: none;
      display: grid;
      gap: 0.2rem 0;

      li {
        color: #aaa;
        font-weight: 300;
        font-size: 1rem;
        padding: 0;
        margin: 0;

        a {
          color: #aaa;
          text-decoration: none;
        }
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

@media #{$xs} {
  #footer {
    .container {
      gap: 0;
      grid-template-columns: auto;

      .col {
        align-items: center;
        text-align: center;
      }

      .col:nth-child(2) {
        margin-bottom: 1rem;
      }
    }
  }
}
