$xs: "screen and (max-width: 767px)";
$sm: "(min-width: 768px) and (max-width: 991px)";
$lg: "(min-width: 992px) and (max-width: 1199px)";
$xl: "screen and (min-width: 1200px)";

$gold: #f0ad4e;
$gray: rgb(187, 187, 187);
$black: #1a1a1a;
